h1{
  color: goldenrod;
}

body{
  font-family: Helvetica;
  text-align: center;
  background-image: url("table.jpg");
  background-size: cover;
  color: white;
  font-size: 40px;
  margin:0;
  padding:0;

}

#message-el{
  font-style: italic;
  margin-bottom: 100px;
}

.button{
  border: none;
  background-color: goldenrod;
  width: 20rem;
  color: #016f32;
  padding: 20px;
  font-weight: bold;
  border-radius: 20px;
  font-size: 35px;
  cursor: pointer;
  margin: auto;
  margin-bottom: 10px;
  display: block;
}

.container{
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 15px;
  margin: auto;
  height: auto;
}
